@use './variables' as *;
@use './mixins' as *;
@use './functions' as f;

body {
    background-color: #F5F7F8;
    color: #707070;
    color: #304D30;
}

h1,
h2 {
    color: #163020;
}

h3,
h4,
h5,
h6 {
    color: #76885B;
    color: #707070;
}


.link-button {
    background-color: #76885B;
    color: white;
}

.link-button:hover {
    background-color: #5a6d41;
}

hr {
    border: 1px solid #bfccb5;
}

a {
    color: #76885B;
}

// :focus {
//     outline: 2px solid $orange-2;
// }

// // skip-link for keyboard users
// .skip-link {
//     background-color: $red-1;
//     color: $white-1;
// }

// carousel
/* Caption text */
.carousel__image-description {
    background-color: #76885B;
    color: white;
    // border-top: 1px solid $brown-7;
}

//Next & previous buttons
.carousel__prev-button,
.carousel__next-button {
    color: #76885B;
}

.carousel__progress-container {
    background-color: transparent;
}

.current-container,
.carousel__progress-bar {
    background-color: #bfccb5;
}

.carousel__progress-list:focus,
.current-bar:focus {
    outline: 2px solid #A7D397;
}

.current-bar,
.finished-bar {
    background-color: #76885B;
}