@use './variables' as *;


body {
    background-color: $white-2;
    color: $green-5;
}

h1,
h2 {
    color: $green-6;
}

h3,
h4,
h5,
h6 {
    color: $grey-2;
}


.link-button {
    background-color: $green-3;
    color: $white-1;
}

.link-button:hover {
    background-color: $green-4;
    box-shadow: 1px 1px 2px $grey-1;
    color: $white-1;
}

hr {
    border: 1px solid $green-2;
}

a {
    color: $green-4;

    &:hover {
        color: $green-3;
    }
}

:focus {
    outline: 2px solid $green-1;
}

// Carousel
// Caption text
.carousel__image-description {
    background-color: $green-3;
    color: $white-1;
}

// Cover element to hide previous slides
.carousel__cover {
    background-color: $white-2;
}

//Next & previous buttons
.carousel__prev-button,
.carousel__next-button {
    color: $green-3;
}

.carousel__progress-container {
    background-color: transparent;
}

.current-container,
.carousel__progress-bar {
    background-color: $green-2;
}

.carousel__progress-list:focus,
.current-bar:focus {
    outline: 2px solid $green-1;
}

.current-bar,
.finished-bar {
    background-color: $green-3;
}