@use 'sass:map';

// z-index (layering of elements)
$layers: (
  //   bottomless-pit: -9999,
  default: 1,
  hero-text: 10,
  navbar: 100,
  //   dropdown: 200,
  //   overlay: 300,
  modal: 400,
  skip-link:1000,
);

.skip-link:focus {
  z-index: map-get($layers, 'skip-link');
}

.navbar {
  z-index: map-get($layers, 'navbar');
}

.hero-text {
  z-index: map-get($layers, 'hero-text');
}

.menu__tab-link::after {
  z-index: map-get($layers, 'default');
}

.confirmation-message__container {
  z-index: map-get($layers, 'modal');
}