// color variables
$white-1: rgb(255, 255, 255);
$white-2: rgb(245, 247, 248);
$green-1: rgb(167, 211, 151);
$green-2: rgb(191, 204, 181);
$green-3: rgb(118, 136, 91);
$green-4: rgb(90, 109, 65);
$green-5: rgb(48, 77, 48);
$green-6: rgb(22, 48, 32);
$grey-1: rgb(128, 128, 128);
$grey-2: rgb(112, 112, 112);