@use '../partials/mixins' as *;
@use '../partials/functions' as f;

.link-button {
    display: block;
    width: f.rem(200);
    height: f.rem(40);
    line-height: f.rem(40); // This aligns the text vertically within the link
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-block: f.rem(10);
    transition: 0.5s;
    position: relative;

    &::after {
        content: '>>';
        position: absolute;
        right: 10%;
        transition: 0.5s;
        opacity: 0;
    }

    &:hover {
        padding-left: f.rem(30);
    }

    &:hover::after {
        right: f.rem(15);
        opacity: 1;
    }
}