@use '../partials/mixins' as *;
@use '../partials/functions' as f;

.link-button {
    position: relative;
    display: block;
    width: f.rem(200);
    height: f.rem(40);
    line-height: f.rem(40); // This aligns the text vertically within the link
    margin-block: f.rem(10);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;

    @include min-mq (lg) {
        margin-block: f.rem(20);
    }

    &::after {
        content: '>>';
        position: absolute;
        right: 10%;
        opacity: 0;
        transition: 0.5s;
    }

    &:hover {
        padding-left: f.rem(30);
    }

    &:hover::after {
        right: f.rem(15);
        opacity: 1;
    }
}