.website-content--hidden {
    display: none;
}

.loader__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 50vh; */
}

.loader__container {
    /* position: relative; */
    margin: auto;
    max-width: 31.25rem;
    aspect-ratio: 0.69/1;
    /* overflow: hidden; */
}

@media all and (min-width: 18.75em) {
    .loader__container {
        aspect-ratio: 0.75/1;
    }
}

@media all and (min-width: 23.625em) {
    .loader__container {
        aspect-ratio: 0.78/1;
    }
}

@media all and (min-width: 34em) {
    .loader__container {
        aspect-ratio: 0.8/1;
    }
}

.loader__object {
    border-radius: 50%;
    border: 10px solid rgb(243, 243, 243);
    border-top: 10px solid rgb(118, 136, 91);
    width: 80px;
    height: 80px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@media all and (min-width: 36em) {
    .loader__object {
        border: 14px solid rgb(243, 243, 243);
        border-top: 14px solid rgb(118, 136, 91);
        width: 120px;
        height: 120px;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}