.website-content--hidden {
    display: none;
}

.loader__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.loader__object {
    border-radius: 50%;
    border: 10px solid rgb(243, 243, 243);
    border-top: 10px solid rgba(182, 248, 166, .9);
    width: 80px;
    height: 80px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@media all and (min-width: 36em) {
    .loader__object {
        border: 14px solid rgb(243, 243, 243);
        border-top: 14px solid rgba(182, 248, 166, .9);
        width: 120px;
        height: 120px;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}