@use '../partials/mixins' as *;
@use '../partials/functions' as f;

/* Slideshow container */
.carousel {
    position: relative;
    margin: auto;
    max-width: f.rem(500);
    height: 100%;
    // max-width: 940px;
    // min-height: 810px;
    overflow: hidden;

    @include min-mq (lg) {
        max-width: f.rem(500);
        height: 100%;
    }
}

.carousel__video {
    width: f.rem(500);
    height: 100%;
}

/* Hide the images by default */
.carousel__slide {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    transition: left 1s ease;
}

/* Show the current slide */
.carousel__slide.current-slide {
    left: 0;
    z-index: 7;
}

/* Move the previous slide off-screen to the left */
.carousel__slide.previous-slide {
    left: -100%;
}

/* Move the next slide off-screen to the right */
.carousel__slide.next-slide {
    left: 100%;
}

/* Cover element to hide previous slides */
.carousel__cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 500px;
    height: 630px;
    z-index: 4;
}

.carousel__image,
.carousel__video {
    display: block;
    margin-inline: auto;
    width: 100%;
    height: auto;
    border-radius: 5px 5px 0 0;
}

/* // carousel text */
.carousel__image-description {
    margin-inline: auto;
    padding-block: f.rem(6);
    width: 100%;
    max-width: 500px;
    height: 45px;
    text-align: center;
    border-radius: 0 0 5px 5px;
}

/* //Next & previous buttons */
.carousel__prev-button,
.carousel__next-button {
    cursor: pointer;
    position: absolute;
    top: 45%;
    width: auto;
    font-weight: bold;
    font-size: 1rem;
    transition: 0.6s ease;
    user-select: none;
    border: 0;
    background-color: transparent;
    z-index: 163;
}

.carousel__prev-button {
    left: -4px;
}

.carousel__next-button {
    right: -4px;
}

/* // @include min-mq (xs) {

//     .carousel__prev-button,
//     .carousel__next-button {
//         top: 42%;
//         font-size: 1.25rem;
//         transition: 0.6s ease;
//         padding: 1rem;
//     }

//     .carousel__prev-button {
//         left: -30px;
//     }

//     .carousel__next-button {
//         right: -30px;
//     }
// } */

/* The dots indicators */
.carousel__bottom-control {
    margin-top: 630px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 163;
}

.carousel__progress-list {
    display: flex;
    flex-direction: row;
    min-width: 110px;
    // min-width: 130px; (4 bars)
    // min-width: 150px; (5 bars)
}

.carousel__pause-button,
.carousel__play-button {
    border: none;
    background-color: transparent;
    display: block;
}

.carousel__pause-button.hidden,
.carousel__play-button.hidden {
    display: none;
}

.carousel__transition-button.disabled {
    pointer-events: none;
    opacity: 0.5;
}

.carousel__progress-container {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin: 0 5px;
    padding: 0;
}

.carousel__progress-bar {
    margin: 0;
    padding: 0;
    height: 0.75rem;
    width: 0.75rem;
    border-radius: 100%;
    border: none;
    box-shadow: none;
    cursor: pointer;
}

.current-container {
    max-width: 3.5rem;
    width: 100%;
    height: 0.75rem;
    border-radius: 0.75rem;
}

.current-bar {
    width: 0%;
    border-radius: 0.75rem;
}