@use '../partials/variables' as *;
@use '../partials/mixins' as *;
@use '../partials/functions' as f;

// Carousel container
.carousel {
    position: relative;
    margin: auto;
    max-width: f.rem(500);
    height: auto;
}

//Slideshow container 
#carousel__track {
    position: relative;
    margin: auto;
    max-width: f.rem(500);
    aspect-ratio: 0.69 / 1;
    overflow: hidden;

    @include min-mq(xxs) {
        aspect-ratio: 0.75 / 1;
    }

    @include custom-min-mq(378) {
        aspect-ratio: 0.78 / 1;
    }

    @include custom-min-mq(544) {
        aspect-ratio: 0.8 / 1;
    }
}

//Hide the images by default 
.carousel__slide {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    transition: left 1s ease;
}

//Show the current slide 
.carousel__slide.current-slide {
    left: 0;
    z-index: 7;
}

//Move the previous slide off-screen to the left 
.carousel__slide.previous-slide {
    left: -100%;
}

//Move the next slide off-screen to the right 
.carousel__slide.next-slide {
    left: 100%;
}

.carousel__image,
.carousel__video {
    display: block;
    margin-inline: auto;
    width: 100%;
    max-width: f.rem(500);
    aspect-ratio: 0.87 / 1;
    border-radius: 5px 5px 0 0;
}

// carousel text 
.carousel__image-description {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 500px;
    height: f.rem(70);
    text-align: center;
    border-radius: 0 0 5px 5px;

    @include min-mq (xxs) {
        max-height: f.rem(45);
        padding-block: f.rem(6);
    }
}

//Cover element to hide previous slides 
.carousel__cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 500px;
    height: clamp(f.rem(345), calc(1.1 * (100vw - f.rem(250)) + f.rem(345)), f.rem(398));

    @include min-mq (xxs) {
        height: clamp(f.rem(375), calc(1.1 * (100vw - f.rem(300)) + f.rem(375)), f.rem(530));
    }

    @include custom-min-mq(440) {
        height: f.rem(540);
    }

    @include min-mq (xs) {
        height: clamp(f.rem(530), calc(1.03 * (100vw - f.rem(450)) + f.rem(530)), f.rem(630));
    }
}

//Next & previous buttons 
.carousel__prev-button,
.carousel__next-button {
    cursor: pointer;
    position: absolute;
    width: auto;
    font-weight: bold;
    font-size: 1.5rem;
    transition: 0.6s ease;
    user-select: none;
    border: 0;
    background-color: transparent;
    z-index: 50;
    display: none;
}

@include custom-min-mq (660) {

    .carousel__prev-button,
    .carousel__next-button {
        top: 42%;
        font-size: 1.5rem;
        padding: 1rem;
        display: block;
    }

    .carousel__prev-button {
        left: -50px;
    }

    .carousel__next-button {
        right: -50px;
    }
}

@include min-mq (md) {

    .carousel__prev-button,
    .carousel__next-button {
        top: 0;
        padding: 18rem 2rem;
    }

    .carousel__prev-button {
        left: -80px;
    }

    .carousel__next-button {
        right: -80px;
    }
}

//The dots indicators 
.carousel__bottom-control {
    margin-top: 3%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.carousel__progress-list {
    display: flex;
    flex-direction: row;
    min-width: 110px;
    // min-width: 130px; (4 bars)
    // min-width: 150px; (5 bars)
}

.carousel__pause-button,
.carousel__play-button {
    border: none;
    background-color: transparent;
    display: block;
}

.carousel__pause-button.hidden,
.carousel__play-button.hidden {
    display: none;
}

.carousel__transition-button.disabled {
    pointer-events: none;
    opacity: 0.5;
}

.carousel__progress-container {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin: 0 5px;
    padding: 0;
}

.carousel__progress-bar {
    margin: 0;
    padding: 0;
    height: 0.75rem;
    width: 0.75rem;
    border-radius: 100%;
    border: none;
    box-shadow: none;
    cursor: pointer;
}

.current-container {
    max-width: 3.5rem;
    width: 100%;
    height: 0.75rem;
    border-radius: 0.75rem;
}

.current-bar {
    width: 0%;
    border-radius: 0.75rem;
}