@use '../partials/variables' as *;
@use '../partials/mixins' as *;
@use '../partials/functions' as f;

main {
    margin-inline: 3%;

    @include min-mq (xs) {
        margin-inline: 4%
    }

    @include min-mq (sm) {
        // width: f.rem($mw-xs);
        // margin-inline: auto;
        margin-inline: 5%
    }

    @include min-mq (md) {
        //     width: f.rem($mw-sm);
        margin-inline: 6%;
    }

    // @include min-mq (lg) {
    //     width: f.rem($mw-md);
    // }

    @include min-mq (xl) {
        width: f.rem($mw-lg);
        margin-inline: auto;
    }
}

section {
    margin-block: 5%;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-block: f.rem(20);
}