@use '../partials/variables' as *;
@use '../partials/mixins' as *;
@use '../partials/functions' as f;

main {
    margin-inline: 1%;

    @include min-mq (md) {
        width: f.rem($mw-sm);
        margin-inline: auto;
    }

    @include min-mq (lg) {
        width: f.rem($mw-md);
    }

    @include min-mq (xl) {
        width: f.rem($mw-lg);
    }

    @include min-mq (xxl) {
        width: f.rem($mw-xl);
    }
}


footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}