@use '../partials/variables' as *;
@use '../partials/mixins' as *;
@use '../partials/functions' as f;

main {
    margin-inline: 3%;

    @include min-mq (xs) {
        margin-inline: 4%
    }

    @include min-mq (sm) {
        // width: f.rem($mw-xs);
        // margin-inline: auto;
        margin-inline: 5%
    }

    @include min-mq (md) {
        //     width: f.rem($mw-sm);
        margin-inline: 6%;
    }

    // @include min-mq (lg) {
    //     width: f.rem($mw-md);
    // }

    @include min-mq (xl) {
        width: f.rem($mw-lg);
        margin-inline: auto;
    }
}

ul {
    list-style-image: url('../../src/assets/images/raw/arrow-right.png');
    // list-style-type: disc;
    // list-style-type: square;
}

ul li {
    position: relative;
    margin-left: 30px;
    /* Adjust based on image size */
    margin-block: f.rem(5);
    /* Adjust as needed */
}

h1 span {
    position: relative;
    /* Make parent element positioned relatively */
    padding-left: 15px;
    /* Add padding to avoid text overlap with the image */
}

h1 span::after {
    content: '';
    position: absolute;
    left: 5px;
    bottom: 0;
    width: 25px;
    height: 25px;
    background-image: url('../../src/assets/images/raw/tea-leaves.png');
    background-size: contain;
    /* Ensure image is fully contained */
    background-repeat: no-repeat;
    display: inline-block;
    /* Ensure the pseudo-element is displayed */
}

h2 span {
    @include min-mq (xxs) {
        position: relative;
        /* Make parent element positioned relatively */
        padding-left: 15px;
        /* Add padding to avoid text overlap with the image */
    }
}

h2 span::after {
    @include min-mq (xxs) {
        content: '';
        position: absolute;
        left: 5px;
        bottom: 2px;
        width: 45px;
        /* Adjust to image width */
        height: 45px;
        /* Adjust to image height */
        background-image: url('../../src/assets/images/raw/leaf-64.png');
        background-size: contain;
        /* Ensure image is fully contained */
        background-repeat: no-repeat;
        display: inline-block;
        /* Ensure the pseudo-element is displayed */
    }
}

.pen {
    position: relative;
    /* Make parent element positioned relatively */
    padding-left: 30px;
    /* Add padding to avoid text overlap with the image */
}

.pen::before {
    content: '';
    position: absolute;
    left: -5px;
    bottom: -4px;
    width: 40px;
    /* Adjust to image width */
    height: 40px;
    /* Adjust to image height */
    background-image: url('../../src/assets/images/raw/pen.png');
    background-size: contain;
    /* Ensure image is fully contained */
    background-repeat: no-repeat;
    display: inline-block;
    /* Ensure the pseudo-element is displayed */
}

section {
    margin-block: 5%;
}

video {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-block: f.rem(20);
}